.main-logo {
  z-index: 8000;
  display: flex;
  flex-direction: column;
  gap: 2vh;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
  text-align: center;
}
.main-logo__title {
  font-size: 6rem;
  color: var(--main-font-color);
}
.main-logo__catchphrase {
  font-size: 3rem;
  color: var(--main-color);
}
.main-logo__image {
  font-size: 4rem;
  width: 400px;
}

ul.th-list li {
  font-size: var(--p-font-size);
  color: var(--main-font-color);
  word-spacing: 3px;
  letter-spacing: 1px;
  line-height: var(--text-spacing);
}
ul.th-list li::marker {
  color: var(--main-color);
}
ul.th-list li:not(:nth-of-type(1)) {
  list-style-type: disc;
  margin-left: 25px;
}
ul.th-list li:nth-of-type(1) {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: italic;
  list-style-type: none;
  font-size: calc(var(--p-font-size) + 0.4rem);
}

.btn {
  font-size: var(--p-font-size);
  padding: 5px;
  margin: 5px;
  height: 30px;
  width: 90px;
}
.btn--main {
  background-color: var(--main-color);
}

a {
  color: var(--main-color);
  transition: filter 0.15s ease-in;
}
a:hover {
  filter: brightness(150%);
}

p {
  font-size: var(--p-font-size);
  color: var(--main-font-color);
  line-height: var(--text-spacing);
  word-spacing: 3px;
  letter-spacing: 1px;
}

a.--cool-font,
p.--cool-font,
h1.--cool-font,
h2.--cool-font,
h3.--cool-font,
h4.--cool-font,
h5.--cool-font {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: italic;
}
a.--bald,
p.--bald,
h1.--bald,
h2.--bald,
h3.--bald,
h4.--bald,
h5.--bald {
  font-weight: 500;
}
a.--upper,
p.--upper,
h1.--upper,
h2.--upper,
h3.--upper,
h4.--upper,
h5.--upper {
  text-transform: uppercase;
}

.top-scroll {
  --size: 50px;
  width: var(--size);
  height: var(--size);
  z-index: 1000;
  position: fixed;
  bottom: 2vh;
  right: 2vw;
  border-radius: 15px;
  border: 2px var(--main-color) solid;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  color: var(--secondary-color);
  background-color: var(--paper-color);
}

.harmonic {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2vh 8vw;
}
.harmonic__section {
  display: flex;
  flex-direction: column;
}
.harmonic__title {
  padding: 10px 0px;
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: italic;
  font-size: 2rem;
  color: var(--secondary-color);
  cursor: pointer;
}
.harmonic__title--opened + .harmonic__content {
  max-height: 1000px;
}
.harmonic__content {
  transition: max-height 0.5s ease-in-out;
  transition-delay: 0ms;
  display: flex;
  flex-direction: row;
  flex-basis: auto;
  gap: 4vh 4vw;
  margin: 2vh 0px;
  max-height: 0;
  overflow: hidden;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 3vh;
}
.content--evenly {
  justify-content: space-evenly;
}
.content__row {
  display: flex;
  flex-flow: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 3vh 3vw;
}
.content__row--wrap {
  flex-wrap: wrap;
}
.content__row--centered {
  align-items: center;
  justify-content: center;
}
.content__column {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 3vh 0px;
}
.content img {
  max-width: 100%;
  object-fit: cover;
}
