@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");
@import url("./vars.css");
@import url("./layout.css");
@import url("./navigation.css");
@import url("./card.css");
@import url("./form.css");
@import url("./components.css");
@import url("./spec-view.css");
@import url("./bootstrap-grid.css");
* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

li,
p,
h2,
h3,
h4,
h5,
h6 {
  line-height: var(--text-spacing);
  letter-spacing: 1px;
}

body {
  overflow-x: hidden;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
}

html {
  scroll-behavior: smooth;
  font-size: 10px;
  color: var(--main-font-color);
}

.hidden {
  visibility: hidden;
}

fieldset {
  border: none;
}

.img {
  --w: 100%;
  --h: 40vh;
  max-width: var(--w);
  max-height: var(--h);
}
.img-w30 {
  --w: calc(3 * 10%) ;
}
.img-w40 {
  --w: calc(4 * 10%) ;
}
.img-w50 {
  --w: calc(5 * 10%) ;
}
.img-w60 {
  --w: calc(6 * 10%) ;
}
.img-w70 {
  --w: calc(7 * 10%) ;
}
.img-w80 {
  --w: calc(8 * 10%) ;
}
.img-w90 {
  --w: calc(9 * 10%) ;
}
.img-h20 {
  --h: calc(2 * 10vh) ;
}
.img-h30 {
  --h: calc(3 * 10vh) ;
}
.img-h40 {
  --h: calc(4 * 10vh) ;
}
.img-h50 {
  --h: calc(5 * 10vh) ;
}
.img-h60 {
  --h: calc(6 * 10vh) ;
}

#firma img {
  background-blend-mode: darken;
  filter: opacity(0.85);
}
#firma p {
  max-width: 800px;
  min-width: 100%;
}

#homepage {
  z-index: 1001;
}

.center-block {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.text-center {
  text-align: center;
}

.cascade-img {
  font-size: calc(var(--p-font-size) - 0.5rem);
  position: relative;
}
.cascade-img > p:first-of-type {
  position: absolute;
  top: 30%;
  right: 20%;
}
@media only screen and (min-width: 576px) {
  .cascade-img > p:first-of-type {
    top: 30%;
    right: 25%;
  }
}
@media only screen and (min-width: 768px) {
  .cascade-img {
    font-size: calc(var(--p-font-size) - 0.3rem);
  }
}

#direct-radiatmion-heatpump-icon {
  transform: rotateY(-30deg) rotateX(60deg) scale(1.5);
}
