.top-nav {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  z-index: 10000;
  position: sticky;
  top: 0px;
  height: 80px;
  padding: 1vh 1vw;
  background-color: rgba(var(--background-color-rgb), 0.83);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}
.top-nav__logo {
  margin-left: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-self: flex-start;
  color: var(--main-color);
  font-size: calc(var(--p-font-size) + 0.1rem);
  max-width: 300px;
}
@media only screen and (min-width: 576px) {
  .top-nav__logo {
    font-size: calc(var(--p-font-size) + 0.4rem);
    max-width: 999px;
  }
}
@media only screen and (min-width: 768px) {
  .top-nav__logo {
    font-size: calc(var(--p-font-size) + 0.8rem);
  }
}
.top-nav__logo img {
  width: 50px;
  margin-right: 10px;
}
.top-nav__links {
  margin-right: 0px;
  margin-left: auto;
  list-style: none;
  flex-direction: row;
  align-items: stretch;
  gap: 0px 3vw;
  font-size: calc(var(--p-font-size) + 0.5rem);
  display: none;
}
@media only screen and (min-width: 992px) {
  .top-nav__links {
    font-size: calc(var(--p-font-size) + 0.5rem);
    display: flex;
  }
}
.top-nav__links > li {
  position: relative;
  align-content: center;
}
.top-nav__links > li:hover > .top-nav__submenu {
  opacity: 1 !important;
  max-height: 999px;
  transform: translateY(0px);
}
.top-nav__submenu {
  display: flex;
  flex-flow: column;
  position: absolute;
  left: -15px;
  list-style: none;
  width: 300px;
  background-color: rgba(var(--paper-color-rgb), 0.83);
  margin-top: 15px;
  transform: translateY(50px);
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out, max-height 0.2s;
  opacity: 0;
  max-height: 0px;
  overflow-y: hidden;
  font-size: calc(var(--p-font-size) + 0.3rem);
}
.top-nav__submenu > li > a {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: italic;
  letter-spacing: 2px;
  padding: 15px;
  display: block;
  background-color: rgba(var(--paper-color-rgb), 0.83);
  font-size: inherit;
}
.top-nav__submenu > li > a:hover {
  filter: brightness(1.5);
}
.top-nav__menu-button {
  --size: 40px;
  width: var(--size);
  height: var(--size);
  cursor: pointer;
  color: var(--main-color);
  background-color: inherit;
  margin: auto 0px auto auto;
  border: none;
  display: flex;
}
@media only screen and (min-width: 992px) {
  .top-nav__menu-button {
    display: none;
  }
}
.top-nav__menu-button #close-icon > svg, .top-nav__menu-button #open-icon > svg {
  fill: var(--main-color);
  width: var(--size);
  height: var(--size);
}
.top-nav__menu-button #close-icon {
  display: none;
}
.top-nav__menu-button--opened #open-icon {
  display: none;
}
.top-nav__menu-button--opened #close-icon {
  display: inline-block;
}

.side-nav {
  position: fixed;
  overflow: hidden;
  top: 0px;
  right: 0px;
  z-index: 9999;
  max-width: 500px;
  width: 110vw;
  height: 110vh;
  padding: 80px 0vw 12vh 10vw;
  display: flex;
  flex-flow: column;
  align-items: stretch;
  font-size: calc(var(--p-font-size) + 0.5rem);
  background-color: rgba(var(--paper-color-rgb), 0.9);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  transform: translateX(100%);
  transition: transform 0.2s ease-in-out;
}
.side-nav__links {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: italic;
  letter-spacing: 2px;
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 2vh 0px;
  margin: auto 0px;
  list-style: none;
  font-size: calc(var(--p-font-size) + 1.3rem);
  color: var(--main-color);
  font-weight: 600;
}
.side-nav__submenu {
  list-style: none;
  display: flex;
  flex-flow: column;
  gap: 5px 0px;
  font-size: calc(var(--p-font-size) + 0.2rem);
  color: var(--main-font-color);
  font-weight: 300;
}
.side-nav a {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: italic;
  letter-spacing: 2px;
  width: 100%;
  display: block;
  text-align: center;
  width: 100%;
  padding: 5px;
  cursor: pointer;
  color: inherit;
}
.side-nav__icons {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-around;
}
.side-nav__icons svg {
  fill: var(--main-color) !important;
  height: 50px;
  width: 50px;
}
.side-nav--open {
  transform: translateX(0%);
}
