:root {
  --p-font-size: 1.6rem;
  --text-spacing: 30px;
  --max-page-content-width: 1200px;
  --main-color-rgb: 230, 125, 80;
  --secondary-color-rgb: 133, 124, 206;
  --background-color-rgb: 15, 15, 15;
  --paper-color-rgb: 30, 30, 30;
  --main-color: rgb(var(--main-color-rgb));
  --secondary-color: rgb(var(--secondary-color-rgb));
  --paper-color: rgb(var(--paper-color-rgb), 1);
  --background-color: rgba(var(--background-color-rgb), 1);
  --main-font-color: rgb(240, 240, 240);
}
