@use "mixins" as mx;

.card__container {
    width:100%;
    max-width: 1200px ;

    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    
    @media only screen and (min-width: mx.$md) {
        gap: 3vw;
    }
}

.card {
    --size: 40vw;

    width: var(--size);
    height:calc(var(--size)*1.0);

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    padding: 5px;
    text-align: center;
    border: 5px var(--main-color) groove;
    border-radius: 15px;
    transition: transform 0.2s ease,  box-shadow 0.2s;
    background-color: rgba(0,0,0,0);

    &__caption {
        @include mx.cool-font;
        font-size: 4vw;
        color: var(--secondary-color);
        line-height: normal;
    }
 
    .material-symbols-outlined {
        transition: filter 0.2s ease;
        color: var(--main-color);
        font-size: 6rem;
        font-variation-settings:
        'FILL' 0,
        'wght' 200,
        'GRAD' 0,
        'opsz' 24
    }

    &:hover,&:active {
        transform: scale(0.95);
        box-shadow: -1px 1px 25px 0px rgba(var(--main-color-rgb),0.4);
        -webkit-box-shadow: -1px 1px 25px 0px rgba(var(--main-color-rgb),0.4);
        -moz-box-shadow: -1px 1px 25px 0px rgba(var(--main-color-rgb),0.4);
    }
    
    &:hover .material-symbols-outlined, &:active .material-symbols-outlined{
        filter: brightness(150%); 
    }
    
    @media only screen and (min-width: mx.$sm) {
        --size: 35vw;
        max-width: 250px;

        &__caption {
            font-size: 2.3rem;
        }

        .material-symbols-outlined{
            font-size: 10rem;
        }
    }

    @media only screen and (min-width: mx.$md) {
        --size: 270px;
        max-width: unset;

        padding: 15px;

        &__caption {
            font-size: 2.5rem;
        }

        .material-symbols-outlined{
            font-size: 10rem;
        }
    }
}