@use "mixins" as mx;

.card__container {
    width: 100%;
    max-width: 1200px;

    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2vw;

    @media only screen and (min-width: mx.$md) {
        gap: 3vw;
    }
}

.card {
    --size: 40vw;

    width: var(--size);
    height: calc(var(--size)*1.0);

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    padding: 5px;
    text-align: center;
    border: 5px var(--main-color) groove;
    border-radius: 15px;
    transition: transform 0.2s ease, box-shadow 0.2s;
    background-color: rgba(0, 0, 0, 0);

    &__caption {
        @include mx.cool-font;
        font-size: 4vw;
        color: var(--secondary-color);
        line-height: normal;
    }

    &__icon {
        --size: 6rem;
        svg {
            transition: filter 0.2s ease;
            fill: var(--main-color);
            width: var(--size);
            height: var(--size);
        }
    }

    &:hover,
    &:active {
        transform: scale(0.95);
        box-shadow: -1px 1px 25px 0px rgba(var(--main-color-rgb), 0.4);
        -webkit-box-shadow: -1px 1px 25px 0px rgba(var(--main-color-rgb), 0.4);
        -moz-box-shadow: -1px 1px 25px 0px rgba(var(--main-color-rgb), 0.4);
    }

    &:hover &__icon,
    &:active &__icon {
        filter: brightness(140%);
    }

    @media only screen and (min-width: mx.$sm) {
        --size: 35vw;
        max-width: 250px;

        &__caption {
            font-size: 2.3rem;
        }

        &__icon {
            --size: 10rem;
        }
    }

    @media only screen and (min-width: mx.$md) {
        --size: 270px;
        max-width: unset;

        padding: 15px;

        &__caption {
            font-size: 2.5rem;
        }

        &__icon {
            --size: 10rem;
        }
    }
}