@use "mixins" as mx;


/* @media (max-width: 900px) {
    .section__image {
        background-color: red;
        width: 200px;
    }
} */


.page {
    width: 100%;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: flex-start;
    gap: 3vh 3vw;
    flex-wrap: wrap;
    padding: 6vh 6vw;
    position: relative;
    max-height: 999vh;

    flex-wrap: nowrap;
    transition: max-height;

    &--80 {
        min-height: 80vh;
    }

    &--evenly {
        justify-content: space-evenly;
    }

    &--paper {
        background-color: var(--paper-color);
    }

    &--folded {
        max-height: 70vh;
        overflow-y: hidden;
    }

    &__gradient {
        opacity: 0;
        display: none;
    }

    &--folded>&__gradient {
        --first-color: rgba(var(--background-color-rgb), 1);
        --second-color: rgba(var(--background-color-rgb), 0.9);
        --third-color: rgba(var(--background-color-rgb), 0.0);
        display: flex;
        justify-content: center;
        align-items: flex-end;
        padding-bottom: 3vh;
        gap: 20px;
        position: absolute;
        left: 0px;
        width: 100%;
        height: 25%;
        cursor: pointer;
        font-size: 3rem;
        opacity: 1;

        &--paper {
            --first-color: rgba(var(--paper-color-rgb), 1);
            --second-color: rgba(var(--paper-color-rgb), 0.9);
            --third-color: rgba(var(--paper-color-rgb), 0.0);
        }

        &--bottom {
            bottom: 0px;
            background-image: linear-gradient(0deg, var(--first-color) 10%, var(--second-color) 40%, var(--third-color) 70%);
            border-bottom: 0px var(--main-color) solid;
            transition: border-width 0.3s ease-out, opacity 0.3s ease-out, padding-bottom 0.6s ease-out;

            &:hover {
                padding-bottom: 4vh;
            }
        }

        span {
            color: var(--secondary-color);
            font-size: larger;
        }

    }

    &__content {
        max-width: var(--max-page-content-width);
        width: 100%;
        margin: 0px auto;
    }

    &__bg-image {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        &--home {
            background-image: url("/static/Designer.jpeg");
        }
    }

    &__overlay {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-color: rgba(var(--background-color-rgb), 0.80);
    }

    &__header {
        width: 100%;
        max-width: var(--max-page-content-width);
        font-size: 4.0rem;
        margin: 4vh 0vw;
        text-align: center;

        &--left {
            text-align: left;
        }
    }

    &__sub-header {
        @include mx.cool-font;
        width: 100%;
        font-size: 2.3rem;
        max-width: var(--max-page-content-width);
        margin: 4vh 0px 1vh 0px;
        text-align: left;
        line-height: 4rem;

        &--center{
            text-align: center;
        }
    }



    &__p {
        font-size: var(--p-font-size);
        color: var(--main-font-color);
        margin: 15px 0px;
        text-align: justify;

        &--center{
            width: 100%;
            text-align: center;
        }
    }


    &__rows-break {
        flex-basis: 100%;
        height: 0px;
    }
}