@use "mixins" as mx;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

@import url("./vars.css");
@import url("./layout.css");
@import url("./navigation.css");
@import url("./card.css");
@import url("./form.css");
@import url("./components.css");
@import url("./spec-view.css");
@import url("./bootstrap-grid.css");


* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}


// Font settings
li,
p,
h2,
h3,
h4,
h5,
h6 {
    line-height: var(--text-spacing);
    // word-spacing: 3px;
    letter-spacing: 1px;
}

body {
    overflow-x: hidden;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
}

html {
    scroll-behavior: smooth;
    font-size: 10px;
    color: var(--main-font-color);
}


.hidden {
    visibility: hidden;
}

fieldset{
    border: none;
}

.img {
    --w: 100%;
    --h: 40vh;

    max-width: var(--w);
    max-height: var(--h);

    @for $i from 3 through 9 {
        &-w#{$i}0 {
            --w: calc(#{$i} * 10%)
        }
    }

    @for $i from 2 through 6 {
        &-h#{$i}0 {
            --h: calc(#{$i} * 10vh)
        }
    }
}

#firma {
    img {
        background-blend-mode: darken;
        filter: opacity(0.85);
    }

    p {
        max-width: 800px;
        min-width: 100%;
    }
}

#homepage {
    z-index: 1001;
}

.center-block {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.text-center {
    text-align: center;
}


// CUSTOM ELEMENTS
.cascade-img {
    font-size: calc(var(--p-font-size) - 0.5rem);
    position: relative;

    >p:first-of-type {
        position: absolute;
        top: 30%;
        right: 20%;
    }
    @media only screen and (min-width: mx.$sm) {
        >p:first-of-type {
            top: 30%;
            right: 25%;
        }
    }

    @media only screen and (min-width: mx.$md) {
        font-size: calc(var(--p-font-size) - 0.3rem);
    }
}

#direct-radiatmion-heatpump-icon {
    transform: rotateY(-30deg) rotateX(60deg) scale(1.5);
}