// break points
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200;
$xxl: 1400px; 

@mixin cool-font{
    font-family: "Orbitron", sans-serif;
    // font-family: "Altair BC", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: italic;
    letter-spacing: 2px;
}

@mixin header{
    width: 100%;
    text-align: center;
    padding:10px 0px;
    font-size: calc(var(--font-size) + 0.5rem);
    @include cool-font;

    &--left {
        text-align: left;
    }

    &--color {
        color: var(--main-color);
    }

    &--upper{
        text-transform: uppercase;
    }

    &--bald{
        font-weight: 600;
    }

    @media only screen and (min-width: $sm) {
        font-size: calc(var(--font-size) + 0.5rem);
    }

    @media only screen and (min-width: $md) {
        font-size: calc(var(--font-size) + 0.8rem);
    }

    @media only screen and (min-width: $lg) {
        font-size: calc(var(--font-size) + 1rem);
    }
}