@use "mixins" as mx;


.top-scroll {
    --size: 50px;
    width: var(--size);
    height: var(--size);

    z-index: 1000;
    position: fixed;
    bottom: 15px;
    right: 15px;

    border-radius: 15px;
    border: 2px var(--main-color) solid;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(var(--paper-color-rgb), 0.7);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);

    svg{
        width: 3rem;
        height: 3rem;
        fill: var(--secondary-color);
    }
}



.top-nav {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    z-index: 10000;
    position: sticky;
    top: 0px;
    height: 80px;
    padding: 1vh 1vw;
    background-color: rgba(var(--background-color-rgb), 0.83);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);

    &__logo {
        margin-left: 0px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-self: flex-start;
        color: var(--main-color);
        font-size: calc(var(--p-font-size) + 0.1rem);
        max-width: 300px;

        @media only screen and (min-width: mx.$sm) {
            font-size: calc(var(--p-font-size) + 0.4rem);
            max-width: 999px;
        }

        @media only screen and (min-width: mx.$md) {
            font-size: calc(var(--p-font-size) + 0.8rem);
        }

        img {
            width: 50px;
            margin-right: 10px;
        }
    }

    &__links {
        margin-right: 0px;
        margin-left: auto;
        list-style: none;
        flex-direction: row;
        align-items: stretch;
        gap: 0px 3vw;
        font-size: calc(var(--p-font-size) + 0.5rem);
        display: none;

        @media only screen and (min-width: mx.$lg) {
            font-size: calc(var(--p-font-size) + 0.5rem);
            display: flex;
        }

        &>li {
            position: relative;
            align-content: center;
        }
    }

    &__links>li:hover>&__submenu {
        opacity: 1 !important;
        max-height: 999px;
        transform: translateY(0px);
    }

    &__submenu {
        display: flex;
        flex-flow: column;
        position: absolute;
        left: -15px;
        list-style: none;
        width: 300px;
        background-color: rgba(var(--paper-color-rgb), 0.83);
        margin-top: 15px;
        transform: translateY(50px);
        transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out, max-height 0.2s;
        opacity: 0;
        max-height: 0px;
        overflow-y: hidden;
        font-size: calc(var(--p-font-size) + 0.3rem);

        &>li>a {
            @include mx.cool-font;
            padding: 15px;
            display: block;
            background-color: rgba(var(--paper-color-rgb), 0.83);
            font-size: inherit;

            &:hover {
                filter: brightness(1.5);
            }
        }
    }

    &__menu-button {
        --size: 40px;
        width: var(--size);
        height: var(--size);
        cursor: pointer;
        color: var(--main-color);

        background-color: inherit;
        margin: auto 0px auto auto;
        border: none;

        display:flex;
        @media only screen and (min-width: mx.$lg) {
            display: none;
        }
    
        #close-icon, #open-icon{
            >svg{
                fill: var(--main-color);
                width:var(--size);
                height:var(--size);
            }
        }

        #close-icon{
            display:none;
        }
        &--opened{
            #open-icon{display:none}
            #close-icon{
                display:inline-block;
            }
        }
    }

}

.side-nav {
    position: fixed;
    overflow:hidden;
    top: 0px;
    right: 0px;
    z-index: 9999;

    max-width: 500px;
    width: 110vw;
    height: 110vh;
    padding: 80px 0vw 12vh 10vw;

    display: flex;
    flex-flow: column;
    align-items: stretch;

    font-size: calc(var(--p-font-size) + 0.5rem);
    background-color: rgba(var(--paper-color-rgb), 0.90);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);

    &__links {
        @include mx.cool-font;
        display: flex;
        flex-flow: column;
        align-items: center;

        gap: 2vh 0px;
        margin: auto 0px;
        list-style: none;
        font-size: calc(var(--p-font-size) + 1.3rem);
        color: var(--main-color);
        font-weight: 600;
    }

    &__submenu {
        list-style: none;

        display: flex;
        flex-flow: column;
        gap: 5px 0px;
        font-size: calc(var(--p-font-size) + 0.2rem);
        color: var(--main-font-color);
        font-weight: 300;
    }


    a {
        @include mx.cool-font;
        width: 100%;
        display: block;
        text-align: center;
        width: 100%;
        padding: 5px;
        cursor: pointer;
        color: inherit;
    }

    &__icons {
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: space-around;
        
        svg {
            fill: var(--main-color)!important;
            height: 50px;
            width:50px;
        }
    }


    transform: translateX(100%);
    transition: transform 0.2s ease-in-out;

    &--open {
        transform: translateX(0%);
    }
}