.spec {
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: stretch;

    &__params {
        width: 65%;
    }

    &__select-container {
        width: 35%
    }

    &__select-item {

        width: 100%;
        height: 80px;
        border-bottom: 2px solid var(--main-color);

        &input {
            appearance: none;
            &:checked {
                background-color: var(--paper-color);
            }
        }
    }
}