
:root {
    // Colors
    --main-color: rgb(251, 135, 80);
    --secondary-color: rgb(143, 134, 216);

    --background-color: rgb(15, 15, 15);
    --opacity-background-color: rgba(15, 15, 15, 0.75);
    --low-opacity-background-color: rgba(15, 15, 15, 0.9);

    --paper-color: rgb(30, 30, 30);
    
    // text color
    --main-font-color: rgb(220, 220, 220);

    // text settings
    --p-font-size: 1.6rem;
    --text-spacing: 30px;
}
