<section class="page page--80">
    <h1 class="page__header --cool-font">Strona w realizacji <br /> Zachęcam do kontaktu</h1>
    <div class="page__content flex">
        <div class="flex__row flex__row--centered">
            <form class="form">
                <fieldset class="form__section">
                    <div class="form__group form__group--2 form__group--req">
                        <div class="form__input">
                            <label for="first_name">Imię</label>
                            <input type="text" id="first_name" name="first_name" aria-required="true" required="true">
                        </div>
                        <div class="form__input">
                            <label for="second_name">Nazwisko</label>
                            <input type="text" id="second_name" name="second_name" aria-required="true" required="true">
                        </div>
                    </div>
                    <div class="form__group form__group--2 form__group--vertical form__group--req">
                        <div class="form__input">
                            <label for="email_address">Adres email</label>
                            <input type="email" id="email_address" name="email_address" aria-required="true"
                                required="true" placeholder="twój@email.com" aria-placeholder="twój@email.com">
                        </div>
                        <div class="form__input">
                            <label for="subject">Temat</label>
                            <input type="text" id="subject" name="subject" aria-required="true" required="true"
                                aria-placeholder="Temat wiadomości" placeholder="Temat wiadomości">
                        </div>
                    </div>
                </fieldset>
                <fieldset class="form__section">
                    <div class="form__input form__input--req">
                        <label for="message_content">Wiadomość</label>
                        <textarea class="full" name="message_content" id="message_content" required="true"
                            placeholder="Np zapytanie o ofertę lub dostępność"></textarea>
                    </div>
                </fieldset>
                <button class="btn">Wyślij</button>
            </form>
            <address class="address">
                <a target="_blank" href="https://www.linkedin.com/in/piotr-buler-099b26314/" class="address__entry">
                    <span class="material-symbols-outlined">person_add</span>
                    Piotr Buler
                </a>
                <p class="address__entry">
                    <a href="mailto:biuro@bulerenergy.pl" class="material-symbols-outlined"> mail</a>
                    Napisz:&nbsp;
                    <a href="mailto:biuro@bulerenergy.pl">biuro@bulerenergy.pl</a>
                </p>

                <p class="address__entry">
                    <a href="tel:+48664435690" class="material-symbols-outlined">phone</a>
                    Zadzwoń:&nbsp;
                    <a href="tel:+48664435690">+48 664 435 690</a>
                </p>
                <p class="address__entry">
                    <span class="material-symbols-outlined --colored">
                        pin_drop
                    </span>
                    86-300 Grudziądz
                </p>
                <iframe class="address__map" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                    src="https://maps.google.com/maps?width=100%&amp;height=100%&amp;hl=en&amp;q=Grudziądz Poland&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed">
                </iframe>
            </address>
        </div>
    </div>
</section>