<section class="page" id="kontakt">
    <div class="container">
        <div class="row">
            <h1 class="col-12 h1">Zachęcam do kontaktu</h1>
        </div>

        <div class="row gy-5">
            <div class="col-sm-12 col-lg-6">
                <div class="container">
                    <form class="form">
                        <fieldset class="row gy-3">
                            <div class="col-sm-12 col-md-6 form__input form__input--req">
                                <label for="first_name">Imię</label>
                                <input type="text" id="first_name" name="first_name" aria-required="true"
                                    required="true">
                            </div>

                            <div class="col-sm-12 col-md-6 form__input form__input--req">
                                <label for="second_name">Nazwisko</label>
                                <input type="text" id="second_name" name="second_name" aria-required="true"
                                    required="true">
                            </div>

                            <div class="col-sm-12 col-md-6 form__input form__input--req">
                                <label for="email_address">Adres email</label>
                                <input type="email" id="email_address" name="email_address" aria-required="true"
                                    required="true" placeholder="twój@email.com" aria-placeholder="twój@email.com">
                            </div>

                            <div class="col-sm-12 col-md-6 form__input form__input--req">
                                <label for="town">Miejscowość</label>
                                <input type="text" id="town" name="town" aria-required="true" required="true"
                                    aria-placeholder="miejscowość" placeholder="miejscowość">
                            </div>

                            <div class="col-sm-12 form__input form__input--req">
                                <label for="subject">Temat</label>
                                <input type="text" id="subject" name="subject" aria-required="true" required="true"
                                    aria-placeholder="Temat wiadomości" placeholder="Temat wiadomości">
                            </div>

                            <div class="col-sm-12 form__input form__input--req">
                                <label for="message_content">Wiadomość</label>
                                <textarea class="full" name="message_content" id="message_content" required="true"
                                    placeholder="Np zapytanie o ofertę lub dostępność"></textarea>
                            </div>
                        </fieldset>

                        <div class="row py-5 justify-content-center">
                            <button role="button" class="col-10 col-md-8 col-lg-6 btn ">Wyślij</button>
                        </div>

                    </form>
                </div>
            </div>

            <address class="col-12 col-lg-6 address">
                <div class="container">

                    <div class="row gy-2">

                        <p class="col-12">
                            <a target="_blank" href="https://www.linkedin.com/in/piotr-buler-099b26314/">
                                <span class="material-symbols-outlined">person_add</span>&nbsp;
                                Piotr Buler
                            </a>
                        </p>

                        <p class="col-12">
                            <a href="mailto:biuro@bulerenergy.pl" class="material-symbols-outlined"> mail</a>&nbsp;
                            Napisz:&nbsp;
                            <a href="mailto:biuro@bulerenergy.pl">biuro@bulerenergy.pl</a>
                        </p>

                        <p class="col-12">
                            <a href="tel:+48664435690" class="material-symbols-outlined">phone</a>&nbsp;
                            Zadzwoń:&nbsp;
                            <a href="tel:+48664435690">+48 664 435 690</a>
                        </p>

                        <p class="col-12">
                            <span class="--colored">NIP:&nbsp;</span>876-166-72-65
                        </p>

                        <p class="col-12">
                            <span class="material-symbols-outlined --colored">
                                pin_drop
                            </span>&nbsp;
                            86-300 Grudziądz
                        </p>

                        <div class="row py-4">
                            <iframe class="col-12 address__map" frameborder="0" scrolling="no" marginheight="0"
                                marginwidth="0"
                                src="https://maps.google.com/maps?width=100%&amp;height=100%&amp;hl=en&amp;q=Grudziądz Poland&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed">
                            </iframe>
                        </div>
                    </div>
                </div>
            </address>
        </div>
    </div>

</section>