<section class="page">
    <div class="page__content flex">
        <div class="flex__row flex__row--wrap flex__row--centered">
            <a class="card" href="/pompy-ciepla">
                <span class="material-symbols-outlined">
                    heat_pump_balance
                </span>
                <h3 class="card__caption">Pompy Ciepła</h3>
            </a>
            <a class="card" href="/w-realizacji">
                <span class="material-symbols-outlined">
                    mode_fan
                </span>
                <h3 class="card__caption">Rekuperacja</h3>
            </a>
            <a class="card" href="/w-realizacji">
                <span class="material-symbols-outlined">
                    solar_power
                </span>
                <h3 class="card__caption">Fotowoltaika</h3>
            </a>
            <a class="card" href="/magazyny-energii">
                <span class="material-symbols-outlined">
                    battery_charging_50
                </span>
                <h3 class="card__caption">Magazyny energii</h3>
            </a>
            <a class="card" href="/pomiary-trt">
                <span class="material-symbols-outlined">
                    stethoscope
                </span>
                <h3 class="card__caption">Badanie gruntu TRT</h3>
            </a>
            <a class="card" href="/w-realizacji">
                <span class="material-symbols-outlined">
                    real_estate_agent
                </span>
                <h3 class="card__caption">Audyty budynków</h3>
            </a>
        </div>
    </div>
</section>


<section id="firma" class="page">
    <h2 class="page__header --cool-font --bald">O firmie</h2>
    <div class="page__content">
        <div class="flex">
            <div class="flex__row flex__row--centered">
                <div>
                    <p class="page__p">
                        Swoje wieloletnie doświadczenie w dziedzinie pomp ciepła zdobyłem pracując od 2018 r. w
                        rodzinnej firmie Clima Komfort z siedzibą w Grudziądzu. W ostatnim roku zarządzałem
                        działem klienta indywidualnego i mikroprojektów, realizując wiele projektów związanych z
                        modernizacją istniejących budynków oraz montażem pomp ciepła w nowobudowanych obiektach.
                        W tym czasie uczestniczyłem w wielu specjalistycznych szkoleniach, poszerzając swoją
                        wiedzę w tematyce OZE.
                    </p>
                    <p class="page__p">
                        Obecnie Clima Komfort stała się dużą firmą inżynierską, która nie zajmuje się już małymi
                        realizacjami i klientem indywidualnym. Postanowiłem więc kontynuować realizację małych
                        projektów - głównie sprzedaż i montaż pomp ciepła na własny rachunek, tworząc firmę
                        <span class="--cool-font --colored --bald">Buler Thermal Energy</span>.
                        <br />
                    </p>
                    <h3 class="page__sub-header">Moja Misja</h3>
                    <p class="page__p">
                        Chcę dalej rozwijać i wykorzystać zdobytą wiedzę, świadcząc profesjonalne usługi
                        zarówno dla klientów indywidualnych, jak i biznesowych. Oferuję najlepsze rozwiązania w
                        zakresie:
                    </p>
                    <div class="th-list">
                        <ul class="th-list__list">
                            <li>ogrzewania</li>
                            <li>wentylacji</li>
                            <li>podgrzewania wody</li>
                            <li>fotowoltaiki</li>
                            <li>magazynowania energii.</li>
                        </ul>
                    </div>
                </div>
                <img class="content__img" src="/static/piotr_buler.png" alt="Piotr Buler">
            </div>
        </div>
    </div>
</section>


<section id="oferta" class="page">
    <h2 class="page__header --cool-font --bald">Oferta</h2>
    <div class="page__content">
        <div class="flex">
            <div class="flex__row flex__row--centered">
                <img async class="flex__img flex__img--s" src="/static/logo_512.png" alt="rozwiązanie all-in-one m-tec" />
                <div>
                    <p class="page__p">
                        Świadczę usługi kompleksowe - od doboru urządzenia po kompletny montaż. Pracuję tylko na
                        sprawdzonych markach, które od lat funkcjonują na całym świecie. Instalacje oparte na
                        odnawialnych źródłach energii dają klientom poczucie niezależności energetycznej i
                        realne
                        oszczędności.
                    </p>
                    <br />
                    <div class="th-list">
                        <h4 class="th-list__title">Dlaczego warto wybrać
                            <span class="--cool-font --bald --colored">Buler
                                Thermal Energy</span>?
                        </h4>
                        <ul class="th-list__list">
                            <li><b>Profesjonalizm i doświadczenie</b> - wieloletnia praca w branży i liczne
                                szkolenia.</li>
                            <li><b>Kompleksowa obsługa</b> - od doradztwa po montaż i serwis.</li>
                            <li><b>Sprawdzone technologie</b> - współpraca z renomowanymi markami.</li>
                        </ul>
                    </div>
                    <br />
                </div>

            </div>
        </div>
        <div class="flex__row">
            <p class="page__sub-header page__sub-header--center">
                <br />
                <br />
                Jeśli są Państwo zainteresowani nowoczesnymi i ekologicznymi rozwiązaniami,
                zapraszam do zapoznania się z ofertą firmy
                <span class="--cool-font --bald --colored">BTE</span>.
            </p>
        </div>
    </div>

</section>