<section class="page">
    <h1 class="page__header --cool-font --bald">Pompy ciepła</h1>
    <div class="page__content">
        <div class="flex">
            <div class="flex__row flex__row--wrap flex__row--centered">
                <a class="card" href="#powietrze-woda">
                    <span class="material-symbols-outlined">
                        heat_pump
                    </span>
                    <h3 class="card__caption">Powietrze - woda</h3>
                </a>
                <a class="card" href="#gruntowa">
                    <span class="material-symbols-outlined">
                        heat_pump_balance
                    </span>
                    <h3 class="card__caption">Gruntowa</h3>
                </a>
                <a class="card" href="#bezposrednie-parowanie">
                    <span class="material-symbols-outlined" id="direct-radiatmion-heatpump-icon">
                        nest_true_radiant
                    </span>
                    <h3 class="card__caption">Bezpośrednie odparowanie</h3>
                </a>
            </div>
            <div class="flex__row">
                <p class="page__p page__p--center --cool-font">
                    Zachęcamy do składania zapytań za pomocą formularza:
                    <a href="#formularz-ofertowy" class="btn">formularz ofertowy</a>
                </p>
            </div>
        </div>
    </div>
</section>


<section class="page" id="powietrze-woda">
    <h2 class="page__header --cool-font">
        Pompa ciepła powietrze - woda
    </h2>
    <div class="page__content flex">
        <div class="flex__row">

        </div>
    </div>
</section>


<section class="page" id="gruntowa">
    <h2 class="page__header --cool-font">
        Pompa ciepła gruntowa
    </h2>
    <div class="page__content flex">
        <div class="flex__row">

        </div>
    </div>
</section>


<section class="page" id="bezposrednie-parowanie">
    <h2 class="page__header --cool-font">
        Pompa ciepła bezpośredniego parowania
    </h2>
    <div class="page__content flex">
        <div class="flex__row">

        </div>
    </div>
</section>